  html {
    background-color: #1e1e1e;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  .gen {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    width: 95%;
    max-width: 800px;
    height: auto;
    top: 100px;
    border: 7px solid #2196F3;
    background: #323232;
    border-radius: 7px;
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 20px;
    font-family: Source Code Pro;
    font-weight: 600;
    color: white;
  }
  .buttonContainer {
    margin: auto;
    width: 95%;
    max-width: 350px;
    height: auto;
    top: 70px;
    background-color: #141414;
  	position: relative;
    margin: auto;
    border: 5px solid #262626;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .button {
    position: relative;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: Source Code Pro;
    font-weight: 600;
    color: #999999;
    transition: .4s;
    background: #ddd;
    border-radius: 10px;
    width: 250px;
    padding: 7px;
    margin: auto;
    text-decoration: none;
  }
  .button:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
    transform: scale(1.05);
  }
  .button:active {
    transform: scale(0.95);
    background-color: #2196F3;
  }
  .stars {
    font-family: arial;
  }
