<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>CPS Tester</title>
<style>
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro);
html {
    background-color: #1e1e1e;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  .time {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    width: 80%;
    max-width: 500px;
    height: auto;
    top: 30px;
    border: 7px solid #2196F3;
    background: #323232;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: Source Code Pro;
    font-weight: 600;
    color: white;
  }
  .buttonContainer {
    margin: auto;
    width: 80%;
    max-width: 500px;
    height: auto;
    top: 70px;
    background-color: #141414;
  	position: relative;
    margin: auto;
    border: 5px solid #262626;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .button {
    position: relative;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: Source Code Pro;
    font-weight: 600;
    color: #999999;
    transition: .2s;
    background: #ddd;
    border-radius: 10px;
    width: 80%;
    padding: 7px;
    margin: auto;
    text-decoration: none;
  }
  .button:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
    transform: scale(1.05);
  }
  .button:active {
    transform: scale(0.95);
    background-color: #2196F3;
  }
</style>

<body>
  <div class="time">Time Elapsed: <span id="time">0:00</span></div>
  <div class="buttonContainer">
    <a class="button"><br>Clicks: <span id="clicks">0</span><br><br></a>
  </div>
</body>

<script>

</script>

</html>
